<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/admin/add-product">Admin</a></li>
        <li><a href="/admin/product">Shop</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>